#chaal
     {
        background-color: #52d29d;
        border: none;
        padding: 100px 100px;
        border-radius: 2px;
        color: #ffffff;
        font-family: 'Gloria Hallelujah', cursive;
        cursor: pointer;
        font-weight: 600;
        width: 100%;
        margin-top: 10px; 
        font-size: 50px;
    }

